/* ===========================
   Our Little Ocean
   Background Engine v1
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{

    width:100%;
    height:100%;
    overflow:hidden;

}

body{

    background:#0d7fd9;

    font-family:sans-serif;

}

/* 海 */

.ocean{

    position:relative;

    width:100vw;
    height:100vh;

    overflow:hidden;

    background:
    linear-gradient(
    to bottom,
    #8fe9ff 0%,
    #4ec8ff 25%,
    #1c98e8 60%,
    #0b5fa8 100%);

}

/* 光 */

.light{

    position:absolute;

    top:-250px;
    left:8%;

    width:300px;
    height:1200px;

    background:
    linear-gradient(
    rgba(255,255,255,.28),
    rgba(255,255,