body {

  margin:0;

  padding:0;

  font-family:
  "Hiragino Maru Gothic ProN",
  "Yu Gothic",
  sans-serif;

  background:
  linear-gradient(
    180deg,
    #7ed6f7,
    #dff8ff
  );

  color:#245;

  text-align:center;

  min-height:100vh;

}



/* 海の泡っぽい雰囲気 */

body::before {

  content:"🫧  🫧  🫧";

  position:fixed;

  top:20px;

  left:20px;

  font-size:25px;

  opacity:0.5;

}





header {

  padding:35px 20px;

}



h1 {

  color:#006994;

  font-size:2.5rem;

  text-shadow:
  2px 2px 0 white;

}



header p {

  font-size:1.5rem;

  color:#0077aa;

}





main {

  padding:15px;

}





.today,
.family,
.calendar-area {


  background:
  rgba(255,255,255,0.85);


  border-radius:35px;


  padding:25px;


  margin:20px auto;


  max-width:520px;


  box-shadow:

  0 8px 20px
  rgba(0,100,150,0.15);


}





h2 {

  color:#0077aa;

}





/* 家族の海 */


.member {


  border-radius:25px;


  padding:18px;


  margin:15px 0;


  font-size:1.2rem;


}



.john {

  background:#eaffc8;


}



.kana {

  background:#c9f3ff;


}



.naru {

  background:#fff3a8;


}





/* カレンダー */


.calendar-header {


  display:flex;


  justify-content:
  space-between;


  align-items:center;


}





button {


  border:none;


  background:#0099cc;


  color:white;


  border-radius:50%;


  width:45px;


  height:45px;


  font-size:1.2rem;


}





.week {


  display:grid;


  grid-template-columns:
  repeat(7,1fr);


  margin-top:20px;


  font-weight:bold;


  color:#006994;


}





#calendar {


  display:grid;


  grid-template-columns:
  repeat(7,1fr);


  gap:8px;


  margin-top:10px;


}





.day {


  background:white;


  border-radius:18px;


  padding:12px 5px;


  box-shadow:

  0 3px 8px
  rgba(0,0,0,0.1);


}





.empty {


  background:transparent;

  box-shadow:none;


}





.schedule-box {


  margin-top:25px;


  padding:20px;


  background:#f5fdff;


  border-radius:25px;


}



input,
select {


  width:80%;


  padding:12px;


  border-radius:15px;


  border:1px solid #aaa;


  margin:8px;


}





.schedule-item {


  margin-top:10px;


  padding:12px;


  border-radius:20px;


}



/* 予定カラー */


.schedule-item.john {

 background:#eaffc8;

}



.schedule-item.kana {

 background:#c9f3ff;

}



.schedule-item.naru {

 background:#fff3a8;

}





footer {


 padding:30px;


 color:#006994;


}